{% extends 'settings/settings-base.html' %}

{% block settings-content %}
    <span class="uk-text-primary">Пожалуйста, используйте реальные данные, чтобы мы могли с вами связаться в случае необходимости.</span>

    <form class="uk-form-stacked" method="POST">
        {% csrf_token %}

        {% if messages %}
            {% for message in messages %}
                <div class="{{ message.tags }}" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}

        {% if form.non_field_errors %}
            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>{{ form.non_field_errors|striptags }}</p>
            </div>
        {% endif %}

        {% for field in form %}
            <div class="uk-margin">
                <input class="uk-input {% if field.errors %} uk-form-danger {% endif %}" value="{% if field.value %}{{ field.value }}{% endif %}" type="text" name="{{ field.name }}" placeholder="{{ field.label }}">
                <span class="uk-text-danger">{% if field.errors %} {{ field.errors|striptags }} {% endif %}</span>
            </div>
        {% endfor %}

        <button class="uk-button uk-button-primary" type="submit">Сохранить</button>
    </form>
{% endblock %}