{% extends 'settings/settings-base.html' %}

{% block settings-content %}
    <span class="uk-text-primary">Внимание! Не сообщайте никому свой пароль.</span>

    <form class="uk-form-stacked" method="POST">
        {% csrf_token %}

        {% if messages %}
            {% for message in messages %}
                <div class="{{ message.tags }}" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}

        {% if form.non_field_errors %}
            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>{{ form.non_field_errors|striptags }}</p>
            </div>
        {% endif %}
        
        <div class="uk-margin">
            <input class="uk-input {% if form.old_password.errors %} uk-form-danger {% endif %}" value="{% if form.old_password.value %}{{ form.old_password.value }}{% endif %}" type="password" name="old_password" id="id_old_password" placeholder="Старый пароль">
            <span class="uk-text-danger">{% if form.old_password.errors %} {{ form.old_password.errors|striptags }} {% endif %}</span>
        </div>
        <div class="uk-margin">
            <input class="uk-input {% if form.new_password1.errors %} uk-form-danger {% endif %}" value="{% if form.new_password1.value %}{{ form.new_password1.value }}{% endif %}" type="password" name="new_password1" id="id_new_password1" placeholder="Новый пароль">
            <span class="uk-text-danger">{% if form.new_password1.errors %} {{ form.new_password1.errors|striptags }} {% endif %}</span>
        </div>
        <div class="uk-margin">
            <input class="uk-input {% if form.new_password2.errors %} uk-form-danger {% endif %}" type="password" name="new_password2" id="id_new_password2" placeholder="Подтверждение пароля">
            <span class="uk-text-danger">{% if form.new_password2.errors %} {{ form.new_password2.errors|striptags }} {% endif %}</span>
        </div>

        <button class="uk-button uk-button-primary" type="submit">Сохранить</button>
    </form>
{% endblock %}