{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logo.png' %}"/>

        <link rel="stylesheet" href="{% static "css/uikit.min.css" %}" />

        <script src="{% static "js/jquery.js" %}"></script>
        <script src="{% static "js/uikit.min.js" %}"></script>
        <script src="{% static "js/uikit-icons.min.js" %}"></script>
        <script src="{% static "js/jquery.form.min.js" %}"></script>
    </head>
    <body>

        {% block content %}{% endblock content %}

    </body>
</html>