{% extends "base.html" %}
{% load static %}

{% block title %}
    Бесплатный сервис такси для особенных детей 
{% endblock title %}

{% block content %}
<div class="uk-section uk-section-primary" uk-height-viewport="expand: true">
    <div class="uk-container">

        <div class="uk-child-width-expand@s uk-text-center uk-margin-large-top" uk-grid>
            <div>
                <h1>{{ trips_number }}</h1>
                Поездок мы организовали
            </div>
            <div>
                <h1>{% if req %}{{ req }}{% else %}0{% endif %} в месяц</h1>
                Потребность детей в поездках
            </div>
            <div>
                <h1>{{ family_number }}</h1>
                Семей пользуется сервисом
            </div>
        </div>

    </div>
</div>
{% endblock content %}