{% extends 'base.html' %}

{% block title %}Поездки{% endblock %}

{% block content %}
    <div class="uk-section uk-padding-remove-top">
        <div class="uk-container">
            <h3>Поездки</h3>

            <div uk-grid>
                <div class="uk-width-1-6@m">
                    {% include 'trips/trips-menu.html' %}
                </div>

                <div class="uk-width-expand">
                    {% block trips-content %}{% endblock trips-content %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}